l<div class="filemanager">
    <div class="filter form-group">
        <input type="text" class="form-control textFilter" value="{{data.filterText}}" placeholder="Filtrer..." />
    </div>
    <div class="tools clearfix">
        <div class="breadcrumbs">
            {{#each data.explodedPath}}
            {{#if this.name}}
            {{#if @last}}
            <span data-path="{{this.path}}" class="folderName">{{this.name}}</span>
            {{else}}
            <a href="files"><span data-path="{{this.path}}" class="folderName">{{this.name}}</span></a>
            <span class="arrow">→</span>
            {{/if}}
            {{/if}}
            {{/each}}
        </div>
        <div class="filters">
            <div class="videoFilter {{#if data.isfilterVideoActive}}active{{/if}}">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
        </div>
    </div>

    <ul class="data">
        {{#each data.collection}}
        {{#unless this.hidden}}
        <li class="{{#if this.is_dir}}folder{{else}}file{{/if}} {{#if this.has_subtitle}}has-subtitle{{/if}}">
            <a {{#if this.is_file}}data-cid="{{this.cid}}"{{/if}}
                data-path="{{this.fPath}}" title="{{this.file}}" class="{{#if this.is_dir}}folder{{else}}file{{/if}}">
                <span class="icon {{#if this.is_dir}}folder{{else}}file{{/if}} full"></span>
                <span class="name">{{this.file}}</span>
                {{#if this.showname}}
                <div class="info">
                    <div class="show-name">
                        <strong>{{this.showname}}</strong>
                    </div>
                    <div class="episode-info">
                        S<strong>{{pad this.season 2 "0"}}</strong>E<strong>{{pad this.episode 2 "0"}}</strong>
                    </div>
                </div>
                {{/if}}
            </a>
            
            {{#if this.subtitles}}
            <ul class="subtitles">
                {{#each this.subtitles}}
                <li>
                    <a class="subtitle clearfix" {{#if ../../this.is_file}}data-file-cid="{{../../this.cid}}"{{/if}} data-cid="{{this.cid}}">
                        <div class="pull-left">{{this.version}}</div>
                        <div class="pull-right"><small>{{this.help}}</small></div>
                    </a>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/unless}}
        {{/each}}
    </ul>
</div>